.vscode/**
.vscode-test/**
.release-test/**
.release-verify/**
out/test/**
test/**
src/**
scripts/**
**/*.map
.gitignore
package-lock.json
tsconfig.json
tslint.json
**/*.gif
ACKNOWLEDGEMENTS.md
docs
.github
*.log
